<div class="nav-container">
    <nav class="navbar">
      <a class="navbar-item" href="/">About</a>
      <a class="navbar-item" href="/blog">Blog</a>
      <a class="navbar-item" href="/portfolio">Portfolio</a>
    </nav>

    <div class="contact">
      <a href="https://github.com/matheusportela/"><i class="fab fa-github-square"></i></a>
      <a href="https://www.linkedin.com/in/matheusportela/en"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:matheus.v.portela@gmail.com"><i class="fas fa-envelope-square"></i></a>
    </div>
</div>
